.header {
  background-color: #fff;
  padding: 0.4rem;
  /* overflow: hidden; */
  height: 56.4rem;
  border-bottom: 1px solid #eee;
}
#main-header {
  display: flex;
  justify-content: space-around;
  color: red;
}
.header-logo {
  color: #1e90ff;
  font-size: 1.4rem;
  text-align: left;
}
.header-txt {
  font-size: 0.6rem;
  color: #999;
  display: inline-block;
  padding-left: 0.3rem;
  margin: 2rem auto;
}
.ant-meu {
  line-height: 2.8rem;
}
.ant-menu-item {
  font-size: 1rem !important;
  padding-left: 1rem;
  padding-right: 1rem;
}
