html {
  font-size: 10px;
}
body {
  background-color: #f0f0f0;
}
.login-div {
  /* margin: 150px auto; */
  margin: 9.375rem auto;
  width: 35rem;
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  border: 5px green;
  border-radius: 50%;
}
.login-div .login-btn {
  border: 1px solid #4d0080;
  border-radius: 1rem;
}
/* 忘记密码的模块 */
.forget-password {
  /* right: 0.2rem; */
  width: fit-content;
  margin: 1rem auto;
}
/* 注册的 */
.rejister-box {
  width: fit-content;
  margin: 2rem auto;
  background-color: green;
  border: 1px solid #4d0080;
  border-radius: 1rem;
}
.rejister-box rejister {
  margin: 2rem auto;
  color: #f0f0f0;
}
/* 用CSS实现响应式布局 */
@media screen and (max-width: 375px) {
  body {
    background-color: grey;
  }
  .login-div {
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    /* margin: 150px auto; */
    margin: 9.375rem auto;
    /* width: 400px; */
    width: 12rem;
    border: 5px green;
    border-radius: 50%;
    /* 忘记密码的模块 */
    /* 注册的 */
  }
  .login-div .login-btn {
    border: 1px solid #4d0080;
    border-radius: 1rem;
  }
  .login-div .forget-password {
    /* right: 0.2rem; */
    width: fit-content;
    margin: 1rem auto;
  }
  .login-div .rejister-box {
    width: fit-content;
    margin: 2rem auto;
    background-color: green;
    border: 1px solid #4d0080;
    border-radius: 1rem;
  }
  .login-div .rejister-box rejister {
    margin: 2rem auto;
    color: #f0f0f0;
  }
}
